@media only screen and (max-width: 768px) {
    .navBar {
        flex-direction: column;
        align-items: center;
    }
    .nameDiv {
        width: auto;
    }
    .menuList {
        width: auto;
        padding: 0;
    }

    .img2 {
        display: none;
       }
    .menuList li {
        /* margin: 0 10px; */
        
    }
}

@media only screen and (max-width: 600px) {
    .basicInfo h2 {
        font-size: 2.5rem;
        color: white;
    
    }
    .about p {
        font-size: 10px;
        padding: 10px;
    }
    .basicInfo p {
        margin-right: 40px;
        font-size: 1rem;
        color: white;
    }
    .btn button {
        font-size: small;
    }
    
    .hero{
        flex-direction: column;
    }

    .skillCard {
        padding: 10px;
    }

    .img {
     display: hidden;
    }

    .icons{
        
        gap: 8px;
    }

    .icons a{
        font-size: 20px;
    }


}
