/* General styles */

* {
    margin: 0;
    padding: 0;
}

/* Header styles */

header {
    height: 15vh;
    width: 100%;
    background-image: linear-gradient(to top, black, gray);
    color: white;
    z-index: 30;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nameDiv {
    font-size: 30px;
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    color: white;
    padding-left: 10px;
}

.menuList {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 60%;
    font-size: 20px;
    list-style: none;
    padding-right: 10px;
    color: white;
}

.menuList li a {
    text-decoration: none;
    color: white;
}

.menuList li a:hover {
    color: black;
    text-decoration: underline;
}

/* Hero section styles */

.heroSection {
    height: 100vh;
    width: 100%;
    color: black;
}

.hero {
    height: 100%;
    width: 100%;
   
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.basicInfo {
    width: 100%;
    max-width: 600px;
    padding: 30px 20px;
    text-align: center;
    color: white;
    
}

.basicInfo h2 {
    margin-top: 200px;
    font-size: 4.5rem;
    color: white;
}

.basicInfo p {
    margin-top: 20px;
    font-size: 1.5rem;
    
}

.btn button {
    height: 35px;
    width: 100px;
    color: white;
    background-image: linear-gradient(to right, black, gray);
    border: 1px solid black;
    border-radius: 30px;
    font-weight: 700;
    font-size: medium;
}

.img {
    margin-left: 1000px;
    margin-top:-550px;
}

/* About section styles */

.aboutSection {
    margin-top: -400px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.about h2 {
    font-size: 3rem;
    text-decoration: underline;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}

.about p {
    font-size: 25px;
}

/* Project section styles */

.projectsSection {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.projectHeading h2 {
    font-size: 3rem;
    text-decoration: underline;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 20px;
}

.projectCard {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.projectImg img {
    max-width: 100%;
    border-radius: 30px;
}

/* Skills section styles */

.skillsSection {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.skillsHeading h2 {
    font-size: 3rem;
    text-decoration: underline;
}

.skillsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    gap: 40px;
    padding: 20px;
}

.skillCard {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.skillImg img {
    max-width: 100%;
    border-radius: 30px;
}

/* Contact section styles */

.contactSection {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.contactName h2 {
    background: black;
    font-size: 2rem;
    text-decoration: underline;
}
.contecth2{
    background: black;
    color: white;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.icons a {
    font-size: 50px;
    color:white;
    
}

/* Media Queries */

